<footer style="text-align : center ; font-size : 12 px ;">
    <a style="margin : 15 px ; text-decoration : underline ;" href="http://www.niptech.com/podcast/niptech-podcast/" target="_blank">
            le podcast</a>
    <a style="margin : 15 px ; text-decoration : underline ;" href="http://www.niptech.com/podcast/category/emissions/" target="_blank">
            les émissions</a>
    <a style="margin : 15 px ; text-decoration : underline ;" href="http://www.niptech.com/podcast/category/blog/" target="_blank">
            le blog</a>
    <a style="margin : 15 px ; text-decoration : underline ;" href="http://inspire.niptech.com/" target="_blank">
            les quotes</a>
    <a style="margin : 15 px ; text-decoration : underline ;" href="https://plus.google.com/u/0/communities/104157063722839703523" target="_blank">
            la communauté</a>
    <a style="margin : 15 px ; text-decoration : underline ;" href="https://github.com/Niptech/niptech-live" target="_blank">
            fork me on github</a>
</footer>